.center {
    text-align: center;
    width: 98%;
    margin: 0;
    padding: 2px;
    align-items: center;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

.graph-container {
    width: 100%;
    height: auto;

}

.Ad-Space {
    display: block;
    background-color: red;
    opacity: 0%;
    width: auto;
    margin: auto;
    height: 70vh;
}

.graph-content {
    margin: 10vh auto 10vh auto;
    background-color: #f7fcfae6;
    width: 95%;
    border-radius: 2%;
    padding: 5vh 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    display: block;
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
    position: relative;
    /* If you want text inside of it */
    padding-bottom: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 90vh;
    width: 98%;
    margin: 0;
}

#scroll-up {
    min-height: 55px;
    min-width: 55px;
    max-height: 65px;
    max-width: 65px;
    background-color: #3a8869;
    border-radius: 100%;
    box-shadow: 0px 5px 5px black;
    position: absolute;
    z-index: 50;
    float: left;
    bottom: 10px;
    opacity: 75%;
    padding: auto;
    border: 1px solid white;
}