header{
    height: 7vh;
    width: 100%;
    background-color: #3a8869;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.3vh black solid;
}

.header_logo{
    height: 100%;
    max-width: 20vw;
    margin-left: 1vw;
}


