main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 92.5vh;
    width: 100vw;
}

.middle {
    padding-top: 0.5vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    background-color: #f4fffa;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
}

.search {
    width: 20%;
    background-color: #E7F1ED;
    margin: 0;
    display: block;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    /*height: 100vh;*/
}

#search-left{
    border-radius: 10px solid red;
}

#search-right{
    border-radius: 10px solid blue;
}
