.dropdown{
display: block;
position: relative;
right: 0px;
margin-right: 1vw;
max-width: 20vw;
}

.dropdown-content{
    align-items: center;
    align-content: center;
    margin: auto;
    position: absolute;
    top:auto;
    right: 0;
}

.dropbtn{
    vertical-align: baseline;
    box-shadow: 2px 2px #153025;
    background-color: #3a8869;
    border-radius: 12%;
    color: whitesmoke;
    border: 1px solid #3a8869;
    max-height: 6vh;
    min-height: 5vh;
    font-size: 3vh;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: auto;
    position: relative;
    z-index: 101;
    background-color: whitesmoke;
    padding: 0;
    box-shadow: 3px 3px 3px black;
    border: 2px solid #3a8869;
    border-radius: 10%;
    top: 3vh;
}

.menu-item{
    list-style-type: none;
    margin: 4px 0;
    padding: 0.5vh 1vw;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #3a8869;
    width: 100%;
    
    
}

/* unvisited link */
a:link {
    color: #3a8869;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #3a8869;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: purple;
  }