    /* Portrait Styles */
    @media only screen and (max-width: 600px) and (orientation: portrait) {

        /* Add your specific styles for mobile portrait mode here */
        .search {
            min-width: 48%;
        }

        .middle {
            display: none;
        }
    }

    /* Landscape Styles */
    @media only screen and (max-height: 600px) and (orientation: landscape) {

        /* Add your specific styles for mobile landscape mode here */
        .search {
            display: none;
        }

        .middle {
            min-width: 100%;
        }

    }