.search-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    max-width: 99%;
    min-height: 8vh;
    justify-content: space-evenly;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0;
    z-index: 10;
}

.search-icon {
    color: black;
    height: 100%;
    margin: 30px auto 10px auto;
    padding-bottom: 2px;
}

#search-icon-left {
    color: #b22828;
}

#search-icon-right {
    color: #1e3a5f;
}

.search-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    min-height: 2em;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 5px;
    position: relative;
}

.autocomplete-menu {
    background-color: aliceblue;
    width: 100%;
    z-index: 50;
}

#search-box-left {
    border-color: #b22828;
}

#search-box-right {
    border-color: #1e3a5f;
}